<div class="card overflow-hidden card-chat">
    <div class="card-body d-flex p-0 h-100">
        <div class="chat-sidebar">
            <div class="contacts-list bg-white scrollbar perfect-scrollbar">
                <div class="nav nav-tabs border-0 flex-column" role="tablist" aria-orientation="vertical" id="chatParticipants">

                </div>
            </div>
            <form class="contacts-search-wrapper">
                <div class="form-group mb-0 position-relative d-md-none d-lg-block w-100 h-100">
                    <input class="form-control form-control-sm chat-contacts-search border-0 h-100" type="text" placeholder="Search contacts ..." /><span class="fas fa-search contacts-search-icon"></span>
                </div>
                <button class="btn btn-sm btn-transparent d-none d-md-inline-block d-lg-none"><span class="fas fa-search fs--1"></span></button>
            </form>
        </div>
        <div class="tab-content card-chat-content fs--1 position-relative">
            <div class="tab-pane card-chat-pane active" id="chat-0" role="tabpanel" aria-labelledby="chat-link-0">
                <div class="chat-content-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-6 col-sm-8 d-flex align-items-center">
                            <a class="pr-3 text-700 d-md-none contacts-list-show" href="#!">
                                <div class="fas fa-chevron-left"></div>
                            </a>
                            <div class="min-w-0">
                                <h5 class="mb-0 text-truncate fs-0"><span class="channelName"></span></h5>
                                <div class="fs--2 text-400">
                                    Active On Chat
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-sm btn-falcon-primary mr-2" type="button" data-index="0" data-toggle="tooltip" data-placement="top" title="Start a Call"><span class="fas fa-phone"></span></button>
                            <button class="btn btn-sm btn-falcon-primary mr-2" type="button" data-index="0" data-toggle="tooltip" data-placement="top" title="Start a Video Call"><span class="fas fa-video"></span></button>
                            <button class="btn btn-sm btn-falcon-primary btn-info" type="button" data-index="0" data-toggle="tooltip" data-placement="top" title="Conversation Information"><span class="fas fa-info"></span></button>
                        </div>
                    </div>
                </div>
                <div class="chat-content-body" style="display: inherit;">
                    <div class="conversation-info" data-index="0">
                        <div class="h-100 overflow-auto scrollbar perfect-scrollbar">
                            <div class="media position-relative align-items-center p-3 border-bottom">
                                <div class="avatar avatar-xl status-online">
                                    <img class="rounded-circle" src="~/assets/img/team/2.jpg" alt="" />

                                </div>
                                <div class="media-body ml-2 d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0"><a class="text-decoration-none stretched-link text-700" href="return false;"><span class="channelName"></span></a></h6>
                                    <div class="dropdown z-index-1">
                                        <button class="btn btn-link btn-sm text-400 dropdown-toggle dropdown-caret-none pr-0" type="button" id="profile-dropdown-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-cog"></span></button>
                                        <div class="dropdown-menu dropdown-menu-right border py-2" aria-labelledby="profile-dropdown-0">
                                            <a class="dropdown-item" href="#!">Mute</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Archive</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="px-3 pt-2">
                                <div class="nav flex-column text-sans-serif font-weight-medium"><a class="nav-link d-flex align-items-center py-1 px-0 text-600" href="#!"><span class="conversation-info-icon"><span class="fas fa-search mr-1" data-fa-transform="shrink-1 down-3"></span></span>Search in Conversation</a><a class="nav-link d-flex align-items-center py-1 px-0 text-600" href="#!"><span class="conversation-info-icon"><span class="fas fa-pencil-alt mr-1" data-fa-transform="shrink-1"></span></span>Edit Nicknames</a><a class="nav-link d-flex align-items-center py-1 px-0 text-600" href="#!"><span class="conversation-info-icon"><span class="fas fa-palette mr-1" data-fa-transform="shrink-1"></span></span><span>Change Color</span></a><a class="nav-link d-flex align-items-center py-1 px-0 text-600" href="#!"><span class="conversation-info-icon"><span class="fas fa-thumbs-up mr-1" data-fa-transform="shrink-1"></span></span>Change Emoji</a><a class="nav-link d-flex align-items-center py-1 px-0 text-600" href="#!"><span class="conversation-info-icon"><span class="fas fa-bell mr-1" data-fa-transform="shrink-1"></span></span>Notifications</a></div>
                            </div>
                            <hr class="my-2" />
                            <div class="px-3" id="others-info-0">
                                <div class="title" id="shared-media-title-0"><a class="btn btn-link btn-accordion hover-text-decoration-none dropdown-indicator" href="#shared-media-0" data-toggle="collapse" aria-expanded="false" aria-controls="shared-media-0">Shared media</a></div>
                                <div class="collapse" id="shared-media-0" aria-labelledby="shared-media-title-0" data-parent="#others-info-0">
                                    <div class="row mx-n1">
                                        <div class="col-6 col-md-4 px-1"><a href="~/assets/img/chat/1.jpg" data-fancybox="images"><img class="img-fluid rounded mb-2" src="~/assets/img/chat/1.jpg" alt="" /></a></div>
                                        <div class="col-6 col-md-4 px-1"><a href="~/assets/img/chat/2.jpg" data-fancybox="images"><img class="img-fluid rounded mb-2" src="~/assets/img/chat/2.jpg" alt="" /></a></div>
                                        <div class="col-6 col-md-4 px-1"> <a href="~/assets/img/chat/3.jpg" data-fancybox="images"><img class="img-fluid rounded mb-2" src="~/assets/img/chat/3.jpg" alt="" /></a></div>
                                        <div class="col-6 col-md-4 px-1"> <a href="~/assets/img/chat/4.jpg" data-fancybox="images"><img class="img-fluid rounded mb-2" src="~/assets/img/chat/4.jpg" alt="" /></a></div>
                                        <div class="col-6 col-md-4 px-1"> <a href="~/assets/img/chat/5.jpg" data-fancybox="images"><img class="img-fluid rounded mb-2" src="~/assets/img/chat/5.jpg" alt="" /></a></div>
                                        <div class="col-6 col-md-4 px-1"> <a href="~/assets/img/chat/6.jpg" data-fancybox="images"><img class="img-fluid rounded mb-2" src="~/assets/img/chat/6.jpg" alt="" /></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-content-scroll-area scrollbar perfect-scrollbar">
                        <div class="media position-relative p-3 border-bottom mb-3 align-items-center">
                            <div class="avatar avatar-2xl status-online mr-3">
                                <img class="rounded-circle" src="~/assets/img/team/2.jpg" alt="" />

                            </div>
                            <div class="media-body">
                                <h6 class="mb-0"><a class="text-decoration-none stretched-link text-700" href="return false;"><span class="channelName"></span></a></h6>
                                <p class="mb-0">

                                </p>
                            </div>
                        </div>
                        <div class="text-center fs--2 text-500"><span>May 5, 2019, 11:54 am</span></div>
                        <div class="media p-3">
                            <div class="avatar avatar-l mr-2">
                                <img class="rounded-circle" src="~/assets/img/team/2.jpg" alt="" />

                            </div>
                            <div class="media-body">
                                <div class="w-xxl-75">
                                    <div class="hover-actions-trigger d-flex align-items-center">
                                        <div class="chat-message bg-200 p-2 rounded-soft">Yes, in an organization stature, this is a must. Besides, we need to quickly establish all other professional appearances, e.g., having a website where members’ profile will be displayed along with additional organizational information. Providing services to existing members is more important than attracting new members at this moment, in my opinion..</div>
                                        <ul class="hover-actions position-relative list-inline mb-0 text-400 ml-2">
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Forward"><span class="fas fa-share"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Archive"><span class="fas fa-archive"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Edit"><span class="fas fa-edit"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Remove"><span class="fas fa-trash-alt"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="text-400 fs--2">
                                        <span>11:54 am</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media p-3">
                            <div class="avatar avatar-l mr-2">
                                <img class="rounded-circle" src="~/assets/img/team/2.jpg" alt="" />

                            </div>
                            <div class="media-body">
                                <div class="w-xxl-75">
                                    <div class="hover-actions-trigger d-flex align-items-center">
                                        <div class="chat-message bg-200 p-2 rounded-soft">What are you doing?</div>
                                        <ul class="hover-actions position-relative list-inline mb-0 text-400 ml-2">
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Forward"><span class="fas fa-share"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Archive"><span class="fas fa-archive"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Edit"><span class="fas fa-edit"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Remove"><span class="fas fa-trash-alt"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="text-400 fs--2">
                                        <span>11:54 am</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media p-3">
                            <div class="media-body d-flex justify-content-end">
                                <div class="w-100 w-xxl-75">
                                    <div class="hover-actions-trigger d-flex align-items-center justify-content-end">
                                        <ul class="hover-actions position-relative list-inline mb-0 text-400 mr-2">
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Forward"><span class="fas fa-share"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Archive"><span class="fas fa-archive"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Edit"><span class="fas fa-edit"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Remove"><span class="fas fa-trash-alt"></span></a></li>
                                        </ul>
                                        <div class="bg-primary text-white p-2 rounded-soft chat-message">
                                            <p class="mb-0">I took this pic </p>
                                            <a href="~/assets/img/chat/1.jpg" data-fancybox>
                                                <img class="rounded" src="~/assets/img/chat/1.jpg" alt="" width="150">
                                            </a>

                                        </div>
                                    </div>
                                    <div class="text-400 fs--2 text-right">
                                        11:54 am<span class="fas fa-check ml-2 text-success"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media p-3">
                            <div class="media-body d-flex justify-content-end">
                                <div class="w-100 w-xxl-75">
                                    <div class="hover-actions-trigger d-flex align-items-center justify-content-end">
                                        <ul class="hover-actions position-relative list-inline mb-0 text-400 mr-2">
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Forward"><span class="fas fa-share"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Archive"><span class="fas fa-archive"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Edit"><span class="fas fa-edit"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Remove"><span class="fas fa-trash-alt"></span></a></li>
                                        </ul>
                                        <div class="bg-primary text-white p-2 rounded-soft chat-message">
                                            Nothing!
                                        </div>
                                    </div>
                                    <div class="text-400 fs--2 text-right">
                                        11:54 am<span class="fas fa-check ml-2 text-success"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center fs--2 text-500"><span>May 6, 2019, 11:54 am</span></div>
                        <div class="media p-3">
                            <div class="avatar avatar-l mr-2">
                                <img class="rounded-circle" src="~/assets/img/team/2.jpg" alt="" />

                            </div>
                            <div class="media-body">
                                <div class="w-xxl-75">
                                    <div class="hover-actions-trigger d-flex align-items-center">
                                        <div class="chat-message bg-200 p-2 rounded-soft">How are you?</div>
                                        <ul class="hover-actions position-relative list-inline mb-0 text-400 ml-2">
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Forward"><span class="fas fa-share"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Archive"><span class="fas fa-archive"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Edit"><span class="fas fa-edit"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Remove"><span class="fas fa-trash-alt"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="text-400 fs--2">
                                        <span>11:54 am</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media p-3">
                            <div class="media-body d-flex justify-content-end">
                                <div class="w-100 w-xxl-75">
                                    <div class="hover-actions-trigger d-flex align-items-center justify-content-end">
                                        <ul class="hover-actions position-relative list-inline mb-0 text-400 mr-2">
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Forward"><span class="fas fa-share"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Archive"><span class="fas fa-archive"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Edit"><span class="fas fa-edit"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Remove"><span class="fas fa-trash-alt"></span></a></li>
                                        </ul>
                                        <div class="bg-primary text-white p-2 rounded-soft chat-message">
                                            Fine
                                        </div>
                                    </div>
                                    <div class="text-400 fs--2 text-right">
                                        11:54 am<span class="fas fa-check-double ml-2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center fs--2 text-500"><span>May 7, 2019, 11:54 am</span></div>
                        <div class="media p-3">
                            <div class="media-body d-flex justify-content-end">
                                <div class="w-100 w-xxl-75">
                                    <div class="hover-actions-trigger d-flex align-items-center justify-content-end">
                                        <ul class="hover-actions position-relative list-inline mb-0 text-400 mr-2">
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Forward"><span class="fas fa-share"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Archive"><span class="fas fa-archive"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Edit"><span class="fas fa-edit"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Remove"><span class="fas fa-trash-alt"></span></a></li>
                                        </ul>
                                        <div class="chat-message chat-gallery">
                                            <div class="row mx-n1">
                                                <div class="col-6 col-md-4 px-1" style="min-width: 50px;">
                                                    <a href="~/assets/img/chat/7.jpg" data-fancybox="first-gallery"><img src="~/assets/img/chat/7.jpg" alt="" class="img-fluid rounded mb-2"></a>
                                                </div>
                                                <div class="col-6 col-md-4 px-1" style="min-width: 50px;">
                                                    <a href="~/assets/img/chat/8.jpg" data-fancybox="first-gallery"><img src="~/assets/img/chat/8.jpg" alt="" class="img-fluid rounded mb-2"></a>
                                                </div>
                                                <div class="col-6 col-md-4 px-1" style="min-width: 50px;">
                                                    <a href="~/assets/img/chat/9.jpg" data-fancybox="first-gallery"><img src="~/assets/img/chat/9.jpg" alt="" class="img-fluid rounded mb-2"></a>
                                                </div>
                                                <div class="col-6 col-md-4 px-1" style="min-width: 50px;">
                                                    <a href="~/assets/img/chat/10.jpg" data-fancybox="first-gallery"><img src="~/assets/img/chat/10.jpg" alt="" class="img-fluid rounded mb-2 mb-lg-0"></a>
                                                </div>
                                                <div class="col-6 col-md-4 px-1" style="min-width: 50px;">
                                                    <a href="~/assets/img/chat/11.jpg" data-fancybox="first-gallery"><img src="~/assets/img/chat/11.jpg" alt="" class="img-fluid rounded mb-2 mb-lg-0"></a>
                                                </div>
                                                <div class="col-6 col-md-4 px-1" style="min-width: 50px;">
                                                    <a href="~/assets/img/chat/12.jpg" data-fancybox="first-gallery"><img src="~/assets/img/chat/12.jpg" alt="" class="img-fluid rounded"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-400 fs--2 text-right">
                                        11:54 am<span class="fas fa-check ml-2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media p-3">
                            <div class="avatar avatar-l mr-2">
                                <img class="rounded-circle" src="~/assets/img/team/2.jpg" alt="" />

                            </div>
                            <div class="media-body">
                                <div class="w-xxl-75">
                                    <div class="hover-actions-trigger d-flex align-items-center">
                                        <div class="chat-message bg-200 p-2 rounded-soft">I took some excellent images yesterday.</div>
                                        <ul class="hover-actions position-relative list-inline mb-0 text-400 ml-2">
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Forward"><span class="fas fa-share"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Archive"><span class="fas fa-archive"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Edit"><span class="fas fa-edit"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Remove"><span class="fas fa-trash-alt"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="text-400 fs--2">
                                        <span>11:54 am</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center fs--2 text-500"><span>May 8, 2019, 11:54 am</span></div>
                        <div class="media p-3">
                            <div class="media-body d-flex justify-content-end">
                                <div class="w-100 w-xxl-75">
                                    <div class="hover-actions-trigger d-flex align-items-center justify-content-end">
                                        <ul class="hover-actions position-relative list-inline mb-0 text-400 mr-2">
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Forward"><span class="fas fa-share"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Archive"><span class="fas fa-archive"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Edit"><span class="fas fa-edit"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Remove"><span class="fas fa-trash-alt"></span></a></li>
                                        </ul>
                                        <div class="bg-primary text-white p-2 rounded-soft chat-message">
                                            Give me the images.
                                        </div>
                                    </div>
                                    <div class="text-400 fs--2 text-right">
                                        11:54 am
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media p-3">
                            <div class="avatar avatar-l mr-2">
                                <img class="rounded-circle" src="~/assets/img/team/2.jpg" alt="" />

                            </div>
                            <div class="media-body">
                                <div class="w-xxl-75">
                                    <div class="hover-actions-trigger d-flex align-items-center">
                                        <div class="chat-message chat-gallery">
                                            <div class="row mx-n1">
                                                <div class="col-6 col-md-4 px-1" style="min-width: 50px;">
                                                    <a href="~/assets/img/chat/1.jpg" data-fancybox="second-gallery"><img src="~/assets/img/chat/1.jpg" alt="" class="img-fluid rounded mb-2"></a>
                                                </div>
                                                <div class="col-6 col-md-4 px-1" style="min-width: 50px;">
                                                    <a href="~/assets/img/chat/2.jpg" data-fancybox="second-gallery"><img src="~/assets/img/chat/2.jpg" alt="" class="img-fluid rounded mb-2"></a>
                                                </div>
                                                <div class="col-6 col-md-4 px-1" style="min-width: 50px;">
                                                    <a href="~/assets/img/chat/3.jpg" data-fancybox="second-gallery"><img src="~/assets/img/chat/3.jpg" alt="" class="img-fluid rounded mb-2"></a>
                                                </div>
                                                <div class="col-6 col-md-4 px-1" style="min-width: 50px;">
                                                    <a href="~/assets/img/chat/4.jpg" data-fancybox="second-gallery"><img src="~/assets/img/chat/4.jpg" alt="" class="img-fluid rounded mb-2 mb-lg-0"></a>
                                                </div>
                                                <div class="col-6 col-md-4 px-1" style="min-width: 50px;">
                                                    <a href="~/assets/img/chat/5.jpg" data-fancybox="second-gallery"><img src="~/assets/img/chat/5.jpg" alt="" class="img-fluid rounded mb-2 mb-lg-0"></a>
                                                </div>
                                                <div class="col-6 col-md-4 px-1" style="min-width: 50px;">
                                                    <a href="~/assets/img/chat/6.jpg" data-fancybox="second-gallery"><img src="~/assets/img/chat/6.jpg" alt="" class="img-fluid rounded"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="hover-actions position-relative list-inline mb-0 text-400 ml-2">
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Forward"><span class="fas fa-share"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Archive"><span class="fas fa-archive"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Edit"><span class="fas fa-edit"></span></a></li>
                                            <li class="list-inline-item"><a class="chat-option" href="#!" data-toggle="tooltip" data-placement="top" title="Remove"><span class="fas fa-trash-alt"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="text-400 fs--2">
                                        <span>11:54 am</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form class="chat-editor-area">
                <input class="d-none" type="file" id="chat-file-upload">
                <label class="mb-0 p-1 chat-file-upload cursor-pointer" for="chat-file-upload"><span class="fas fa-paperclip"></span></label>
                <textarea class="emojiarea border-0 outline-none shadow-none" data-options='{"placeholder":"Type your message","emojiPlaceholder":":smile_cat:","search":false,"tones":false,"filtersPosition":"bottom","recentEmojis":false}'></textarea>
                <button class="btn btn-sm btn-send outline-none ml-2" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>