@using ProvenCfoUI.Comman


<nav class="navbar navbar-vertical navbar-expand-xl navbar-light">
    <div class="d-flex align-items-center">
        <div class="toggle-icon-wrapper">

            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-toggle="tooltip" data-placement="left" title="Toggle Navigation">
                <span class="navbar-toggle-icon"><span class="toggle-line"></span></span>
            </button>

        </div><a class="navbar-brand" href=@Url.Action("AgencyHome", "AgencyService")>
            <div class="d-flex align-items-center py-3">
                <img class="mr-2" src="~/assets/img/illustrations/falcon.png" alt="" width="120" />
            </div>
        </a>

    </div>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content perfect-scrollbar scrollbar">
            <ul class="navbar-nav flex-column">
                @if (Common.IsModuleAccessable("CLS"))
                {
                    if (Common.IsFeatureAccessable("AGH"))
                    {
                        <li class="nav-item" id="menu_home">
                            <a class="nav-link" href=@Url.Action("AgencyHome", "AgencyService") name="menu_home">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon"><span class="fas fa-home"></span></span><span class="nav-link-text"> Home</span>
                                </div>
                            </a>
                        </li>
                    }
                    if (Common.IsFeatureAccessable("RCN"))
                    {
                        <li class="nav-item" id="menu_reconciliation">
                            <a class="nav-link" href=@Url.Action("ReconciliationMain", "Reconciliation") name="menu_reconciliation">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon"><span class="fas fa-handshake"></span></span>
                                    <span class="nav-link-text"> Reconciliation  <span class="badge badge-pill badge-soft-danger ml-3" id="lblNotInCount"></span></span>
                                </div>
                            </a>
                        </li>
                    }
                    <li class="nav-item" id="menu_intelligence">
                        <a class="nav-link dropdown-indicator" href="#intelligence" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="intelligence" name="menu_intelligence">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><span class="fas fa-chart-line"></span></span><span class="nav-link-text">Intelligence</span>
                            </div>
                        </a>
                        <ul class="nav collapse" id="intelligence" data-parent="#navbarVerticalCollapse">
                            @if (Common.IsFeatureAccessable("AGH"))
                            {
                                <li class="nav-item" id="submenu_dashboards">
                                    <a class="nav-link" href=@Url.Action("About", "Home") name="submenu_dashboards">Dashboards</a>
                                </li>
                            }
                            @if (Common.IsFeatureAccessable("RPT"))
                            {
                                <li class="nav-item" id="submenu_reports">
                                    <a class="nav-link" href=@Url.Action("ReportsList", "Reports") name="submenu_reports">Reports</a>
                                </li>

                                <li class="nav-item" id="submenu_notes">
                                    <a class="nav-link" href=@Url.Action("GetNotesPage", "Notes") name="submenu_notes">Notes <span class="badge badge-pill badge-soft-danger ml-3">14</span> </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                @if (Common.IsModuleAccessable("CLS"))
                {
                    <li class="nav-item" id="menu_communication">

                        <a class="nav-link dropdown-indicator" href="#communication" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="communication" name="menu_communication">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><span class="fas fa-comments"></span></span><span class="nav-link-text">Communication</span>
                            </div>
                        </a>
                        <ul class="nav collapse" id="communication" data-parent="#navbarVerticalCollapse">

                            @if (Common.IsFeatureAccessable("NDS"))
                            {
                                <li class="nav-item" id="submenu_needs">
                                    <a class="nav-link" href=@Url.Action("NeedsMain", "Needs") name="submenu_needs">Needs</a>
                                </li>
                            }
                            @if (Common.IsFeatureAccessable("COM"))
                            {
                                <li class="nav-item" id="submenu_chat">
                                    <a class="nav-link" href=@Url.Action("Chat", "Communication") name="submenu_chat">Chat</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (Common.IsFeatureAccessable("URS"))
                {
                    <li class="nav-item" id="menu_users">
                        <a class="nav-link" href=@Url.Action("RegisteredUserList", "Invitation") ) name="menu_users">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><span class="fas fa-users"></span></span><span class="nav-link-text"> Users</span>
                            </div>
                        </a>
                    </li>
                }
                @if (Common.IsModuleAccessable("ADM"))
                {
                    <li class="nav-item" id="menu_administration">
                        <a class="nav-link dropdown-indicator" href="#administration" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="administration" name="menu_administration">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><span class="fas fa-copy"></span></span><span class="nav-link-text">Administration</span>
                            </div>
                        </a>
                        <ul class="nav collapse" id="administration" data-parent="#navbarVerticalCollapse">
                            @if (Common.IsFeatureAccessable("SUR"))
                            {
                                <li class="nav-item" id="submenu_staffusers">
                                    <a class="nav-link" href=@Url.Action("InviteStaffList","Invitation") name="submenu_staffusers">Staff Users</a>
                                </li>

                            }
                            @if (Common.IsFeatureAccessable("CAG"))
                            {

                                <li class="nav-item" id="submenu_clientagencies">
                                    <a class="nav-link" href=@Url.Action("ClientList", "Client") name="submenu_clientagencies">Clients</a>
                                </li>
                            }
                            @if (Common.IsFeatureAccessable("TEM"))
                            {
                                <li class="nav-item" id="submenu_teams">
                                    <a class="nav-link" href=@Url.Action("TeamsList", "Teams") name="submenu_teams">Teams</a>
                                </li>

                            }
                            @if (Common.IsFeatureAccessable("BET"))
                            {
                                <li class="nav-item" id="submenu_billableentities">
                                    <a class="nav-link" href=@Url.Action("GetAllBillableEntitiesList", "BillableEntities") name="submenu_billableentities"> Billable Entities </a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                @if (Common.IsModuleAccessable("STP"))
                {
                    <li class="nav-item" id="menu_setup">

                        <a class="nav-link dropdown-indicator" href="#setup" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="setup" name="menu_setup">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon"><span class="fas fa-fire"></span></span><span class="nav-link-text">Setup</span>
                            </div>
                        </a>
                        <ul class="nav collapse" id="setup" data-parent="#navbarVerticalCollapse">
                            @if (Common.IsFeatureAccessable("JTL"))
                            {
                                <li class="nav-item" id="submenu_jobtitles">
                                    <a class="nav-link" href=@Url.Action("JobTitle", "Setup") name="submenu_jobtitles">Job Titles</a>
                                </li>
                            }
                            @if (Common.IsFeatureAccessable("URL"))
                            {

                                <li class="nav-item" id="submenu_userroles">
                                    <a class="nav-link" href=@Url.Action("Role", "Role") name="submenu_userroles">User Roles</a>
                                </li>
                            }
                            @if (Common.IsFeatureAccessable("INT"))
                            {
                                <li class="nav-item" id="submenu_glAccount">
                                    <a class="nav-link" href=@Url.Action("Integration", "Integration") name="submenu_integration">GL Accounts</a>
                                </li>
                            }

                            @if (Common.IsFeatureAccessable("INT"))
                            {
                                <li class="nav-item" id="submenu_trackingCategories">
                                    <a class="nav-link" href=@Url.Action("GetXeroTracking", "Integration") name="submenu_integration">Tracking Categories</a>
                                </li>
                            }
                            @if (Common.IsFeatureAccessable("SYS"))
                            {
                                <li class="nav-item" id="submenu_systemsettings">
                                    <a class="nav-link" href=@Url.Action("About", "Home") name="submenu_systemsettings">System Settings</a>
                                </li>
                            }



                        </ul>
                    </li>
                }
              
            </ul>
        </div>
    </div>
</nav>

