
@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}


@Styles.Render("~/bundles/customcss")
@Scripts.Render("~/bundles/modernizr")





<div class="container" data-layout="container">
    <div class="row flex-center min-vh-100 py-6 text-center">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xxl-5">
            <a class="d-flex flex-center mb-4" href=@Url.Action("AgencyHome", "AgencyService")><img class="mr-2" src="~/assets/img/illustrations/falcon.png" alt="" width="150" />@*<span class="text-sans-serif font-weight-extra-bold fs-5 d-inline-block">falcon</span>*@</a>
            <div class="card">
                <div class="card-body p-4 p-sm-5">
                   
                    <p class="lead mt-4 text-800 text-sans-serif font-weight-semi-bold">
                      
                        <br /> QuickBook Token updated successfully.    
                    </p>

                    <hr />
                    <p></p><a class="btn btn-primary btn-sm mt-3 text-white" href=@Url.Action("ClientList", "Client")><span class="fas mr-2 text-white"></span>Clients Page</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

