@model  ProvenCfoUI.Models.KanbanTasksViewModel
<div class="modal theme-modal fade" tabindex="-1" role="dialog" aria-labelledby="kanban-modal-label-1" aria-hidden="true" id="kanban-modal-open">
    <div class="modal-dialog modal-lg mt-6" role="document">
        <div class="modal-content border-0">
            <div class="position-absolute t-0 r-0 mt-3 mr-3 z-index-1">
                <button class=" close btn btn-sm close-circle d-flex flex-center transition-base position-sticky" id="verifyAttachment" onclick="checkAttachment1()" data-dismiss="modal" aria-label="Close"><span class="fas fa-times" data-fa-transform="shrink-6 right-0.3 down-0.3" style="position: inherit !important;"></span></button>
            </div>
            <div class="modal-body p-0">
                <div class="bg-light rounded-soft-top px-4 py-3">
                    <h4 class="mb-1" id="kanban-modal-label-title">Add a new illustration to the landing page</h4>
                    <p class="fs--2 mb-0">Added by <a class="text-600 font-weight-semi-bold" href="#!" id="Reporter">Antony</a></p>
                </div>
                <div class="p-4">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="media">
                                <span class="fa-stack ml-n1 mr-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-user" data-fa-transform="shrink-2"></i></span>
                                <div class="media-body">
                                    <h5 class="mb-2 fs-0">Assignee</h5>
                                    <ul class="nav avatar-group mb-0" id="ulAddedMembers_view">

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle dropdown-caret-none p-0 ml-n1" href="#!" data-toggle="dropdown">
                                                <div class="avatar avatar-xl">
                                                    <div class="avatar-name rounded-circle avatar-button"><span><span class="fas fa-plus" data-fa-trasnsform="grow-2" style="font-size: 20px;"></span></span></div>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu dropdown-md">
                                                <h6 class="dropdown-header py-0 px-3 mb-0">Select Member</h6>
                                                <div class="dropdown-divider"></div>
                                                <form class="px-3 mb-2">
                                                    @*<input class="form-control form-control-sm" type="text" placeholder="Search team member" />*@
                                                </form>
                                                <ul class="list-unstyled" id="ulTeamMembersList_view">
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>

                                    <hr class="my-4" />
                                </div>
                            </div>
                            <div class="media">
                                <span class="fa-stack ml-n1 mr-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-tag" data-fa-transform="shrink-2"></i></span>
                                <div class="media-body">
                                    <h5 class="mb-2 fs-0">Tags</h5>
                                    <div class="d-flex" id="divTagView">
                                        <div class="dropdown dropright">
                                            <button class="btn btn-sm btn-secondary px-2 fsp-75 bg-400 border-400 dropdown-toggle dropdown-caret-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-plus" style="font-size: 20px;"></span></button>
                                            <div class="dropdown-menu">
                                                <h6 class="dropdown-header py-0 px-3 mb-0">Select Tags</h6>
                                                <div class="dropdown-divider"></div>
                                                <div class="px-3">
                                                    <button class="badge-soft-success dropdown-item rounded mb-2 bg-red" type="button" onclick="addTag('badge-soft-success bg-red','Urgent');">Urgent</button>
                                                    <button class="badge-soft-primary dropdown-item rounded mb-2 bg-orange" type="button" onclick="addTag('badge-soft-primary bg-orange','High');">High</button>
                                                    <button class="badge-soft-info dropdown-item rounded mb-2 bg-light-blue " type="button" onclick="addTag('badge-soft-info bg-light-blue', 'Medium');">Medium</button>
                                                    <button class="badge-soft-danger dropdown-item rounded mb-2 bg-green" type="button" onclick="addTag('badge-soft-danger bg-green','Low');">Low</button>
                                                </div>
                                                <div class="dropdown-divider"></div>

                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4" />
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-3">
                            <h6 class="mt-5 mt-lg-0">Add To Card</h6>
                            <ul class="nav flex-lg-column fs--1">
                                <li class="nav-item mr-2 mr-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-user mr-2"></span>Members</a></li>
                                <li class="nav-item mr-2 mr-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-tag mr-2"></span>Label</a></li>
                                <li class="nav-item mr-2 mr-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-paperclip mr-2"></span>Attachments</a></li>
                                <li class="nav-item mr-2 mr-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-check mr-2"></span>Checklists</a></li>
                            </ul>
                            <h6 class="mt-3 d-none">Actions</h6>
                            <ul class="nav flex-lg-column fs--1 d-none">
                                <li class="nav-item mr-2 mr-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="far fa-copy mr-2"> </span>Copy</a></li>
                                <li class="nav-item mr-2 mr-lg-0"><a class="nav-link nav-link-card-details" href="#!"> <span class="fas fa-arrow-right mr-2"></span>Move</a></li>
                                <li class="nav-item mr-2 mr-lg-0"><a class="nav-link nav-link-card-details" href="#!"><span class="fas fa-trash-alt mr-2"></span>Remove</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="media">
                                <span class="fa-stack ml-n1 mr-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i></span>
                                <div class="media-body">
                                    <div class="d-flex justify-content-between mb-2">
                                        <h5 class="mb-0 fs-0">Description</h5>
                                        <div class="dropdown">
                                            <button class="btn btn-falcon-default btn-sm dropdown-toggle dropdown-caret-none fs--2" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btnEditDescription"> Edit</button>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#!">Computer</a><a class="dropdown-item" href="#!">Google Drive</a>
                                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Attach Link</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="min-vh-50 mh-25 border border-dark" id="divViewDescription">
                                        <p class="text-word-break fs--1" id="kanban-modal-label-description">The illustration must match to the contrast of the theme. The illustraion must described the concept of the design. To know more about the theme visit the page. <a href="https://prium.github.io/falcon/v2.8.1/default/home/dashboard-alt.html" target="_blank">https://prium.github.io/falcon/v2.8.1/default/home/dashboard-alt.html</a></p>
                                    </div>
                                    <div id="divEditDescription">
                                        <div class="min-vh-50 mh-25 border border-dark">
                                            <textarea class="tinymce d-none border" name="content" id="txtDescription"></textarea>
                                        </div>
                                        <button class="btn btn-sm btn-primary mt-2" type="button" id="btnSaveDescription">Save</button>
                                        <button class="btn btn-sm btn-primary mt-2" type="button" id="btnCancelDescription">cancel</button>
                                    </div>
                                    <hr class="my-4" />
                                </div>
                            </div>
                            <div class="media">
                                <span class="fa-stack ml-n1 mr-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-paperclip" data-fa-transform="shrink-2"></i></span>
                                <div class="media-body">
                                    <div class="d-flex justify-content-between mb-2">
                                        <h5 class="mb-0 fs-0">Attachments</h5>
                                        <div class="dropdown">
                                            @*<button class="btn btn-falcon-default btn-sm dropdown-toggle dropdown-caret-none fs--2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="fas fa-plus"></span></button>*@
                                            <button class="btn btn-falcon-default btn-sm btnselectfile_view " type="button"> <span class="fas fa-plus" style="font-size: 20px;"></span></button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#!">Computer</a><a class="dropdown-item" href="#!">Google Drive</a>
                                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Attach Link</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="attachmentContainer">
                                    </div>
                                    <div class="media align-items-center mb-3">
                                        <div class="table table-striped" class="files" id="previews_view" style="margin-top:40px">

                                            <div id="template_view" class="file-row">
                                                <strong style="color: red;">Please upload the file to save.</strong>
                                                <!-- This is used as the file preview template -->
                                                <div>
                                                    <span class="preview"><img data-dz-thumbnail /></span>
                                                </div>
                                                <div>
                                                    <p class="name" data-dz-name></p>
                                                    <strong class="error text-danger" data-dz-errormessage></strong>
                                                </div>
                                                <div>
                                                    <p class="size" data-dz-size></p>
                                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                                    </div>
                                                </div>
                                                <div id="actions">
                                                    <button class="text-600 font-weight-semi-bold start" style="border: none; background: transparent; font-size: 12px;">
                                                        <i class="glyphicon glyphicon-upload"></i>
                                                        <span>Upload</span>
                                                    </button>
                                                    <span class="mx-1"></span>
                                                    @*<button data-dz-remove class=" cancel" style="border: none; background: transparent; font-size: 12px;" onclick="RemoveFile(event);">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <input type="hidden" name="" value="" class="name" data-dz-name />
                                    <span>Cancel</span>
                                </button>*@
                                                    <span class="mx-1"></span>
                                                    <button data-dz-remove class="delete" style="border: none; background: transparent; font-size: 12px;" onclick="RemoveFile(event);">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                        <input type="hidden" name="" value="" class="name" data-dz-name />
                                                        <span>Remove</span>
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4" />
                                </div>
                            </div>
                            <div class="media">
                                <span class="fa-stack ml-n1 mr-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary far fa-comment" data-fa-transform="shrink-2"></i></span>
                                <div class="media-body">
                                    <h5 class="mb-3 fs-0">Comments</h5>
                                    <div class="media">
                                        <div class="avatar avatar-l mr-2">
                                            @*<img class="rounded-circle" src="~/assets/img/team/4.jpg" alt="" />*@

                                        </div>
                                        <div class="media-body fs--1">
                                            <div class="position-relative border rounded mb-3">
                                                <form>
                                                    <textarea class="form-control border-0 rounded-bottom-0 resize-none" rows="3" id="txtComments"></textarea>
                                                    <div class="d-flex flex-between-center bg-light rounded-bottom p-2 mt-1">
                                                        <button class="btn btn-sm btn-primary" type="button" id="btnSaveComments">Save</button>
                                                        <button class="btn btn-sm btn-primary" type="button" id="btnCancelComments">Cancel</button>
                                                        <ul class="list-inline mb-0">
                                                            <li class="list-inline-item mr-1"><a class="text-600 p-2 transition-base hover-200 rounded" href="#!"><span class="fas fa-paperclip"></span></a></li>
                                                            <li class="list-inline-item mr-1"><a class="text-600 p-2 transition-base hover-200 rounded" href="#!"><span class="fas fa-at"></span></a></li>
                                                            <li class="list-inline-item mr-1"><a class="text-600 p-2 transition-base hover-200 rounded" href="#!"><span class="fas fa-image"></span></a></li>
                                                        </ul>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divCommantsList">

                                    </div>

                                    <div class="media" style="display:none">
                                        <a href="pages/profile.html">
                                            <div class="avatar avatar-l">
                                                @*<img class="rounded-circle" src="~/assets/img/team/1.jpg" alt="" />*@

                                            </div>
                                        </a>
                                        <div class="media-body ml-2 fs--1">
                                            <p class="mb-1 bg-200 rounded-soft p-2"><a class="font-weight-semi-bold" href="pages/profile.html">Emma </a>We have more task to do</p><a href="#!">Like</a> &bull; <a href="#!">Reply</a> &bull; 2hour
                                        </div>
                                    </div>
                                    <div id="myModal" class="modalattPreview">
                                        <span class="close cursor" onclick="closeModal()">&times;</span>
                                        <div class="modal-content1Preview">

                                            <div class="mySlides">
                                                <div class="numbertext">1 / 4</div>
                                                <img id="imgPreview" src="../assets/img/team/default-logo.png" style="width:100%">
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4" />
                                </div>
                            </div>
                            <div class="media d-none">
                                <span class="fa-stack ml-n1 mr-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-list-ul" data-fa-transform="shrink-2"></i></span>
                                <div class="media-body">
                                    <h5 class="mb-3 fs-0">Activity </h5>
                                    <div class="media mb-3">
                                        <a href="pages/profile.html">
                                            <div class="avatar avatar-l">
                                                @*<img class="rounded-circle" src="~/assets/img/team/4.jpg" alt="" />*@

                                            </div>
                                        </a>
                                        <div class="media-body ml-2 fs--1">
                                            <p class="mb-0"><a class="font-weight-semi-bold" href="pages/profile.html">Rowan </a>Added the card</p>
                                            <div class="fs--2">6 hours ago</div>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <a href="pages/profile.html">
                                            <div class="avatar avatar-l">
                                                @*<img class="rounded-circle" src="~/assets/img/team/3.jpg" alt="" />*@

                                            </div>
                                        </a>
                                        <div class="media-body ml-2 fs--1">
                                            @*<p class="mb-0"><a class="font-weight-semi-bold" href="pages/profile.html">Anna </a>attached final-pic.png to this card</p>*@
                                            <div class="fs--2">4 hours ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

