
@{
    ViewBag.Title = "NeedsMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/css/kanban")
@*<link href="~/Style/NeedStyle.css" rel="stylesheet" />*@
<style>
</style>


<div class="card mb-4 ">
    <div class="card-body px-0 pt-0">


        @Html.Partial("_kanbanBoard")


    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/js/kanban")
    <script src="~/Scripts/NeedsScript.js"></script>
}



