

<div class="modal theme-modal fade" tabindex="-1" role="dialog" aria-labelledby="api-token-label-1" aria-hidden="true" id="api-token-modal">
    <div class="modal-dialog modal-lg mt-6" role="document">
        <div class="modal-content border-0">
            <div class="position-absolute t-0 r-0 mt-3 mr-3 z-index-1">
                <button class=" close btn btn-sm close-circle d-flex flex-center transition-base position-sticky" data-dismiss="modal" id="btnCloseImportreconciliation" aria-label="Close"><span class="fas fa-times" data-fa-transform="shrink-6 right-0.3 down-0.3" style="position: inherit !important;"></span></button>
            </div>
            <div class="modal-body p-0">
                <div class="bg-light rounded-soft-top px-4 py-3">
                    <h4 class="mb-1" id="report-modal-label-title">Update API token details</h4>
                </div>
                <div class="p-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <strong style="color: red;">Get the Oauth 2.0 authenticiation token from accounting package API.</strong>
                            <div class="clearfix">&nbsp;</div>
                            <div><label class="form-label" for="eventTitle">Refresh token</label><input name="refreshtoken" placeholder="refresh_token" type="text" id="txt_refresh_token" class="form-control" background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;"></div>
                            <div><label class="form-label" for="description">Access token</label><textarea placeholder="access_token" rows="6" name="description" id="txt_access_token" class="form-control w-100"></textarea></div>
                            <div id="div_IdToken"><label class="form-label" for="description">Id token</label><textarea placeholder="id_token" rows="6" name="description" id="txt_id_token" class="form-control w-100"></textarea></div>
                            <br />
                            <div class="row align-items-center form-group">
                                <div class="col-12 col-md-4 col-lg-3 col-xl-4"></div>
                                <div class="col-12 col-md-8 col-lg-9 col-xl-8">
                                    <button class="btn btn-primary" type="submit" id="btnCreate" name="submit" onclick="UpdatedToken();">Update</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>