@model Proven.Model.ClientModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mb-4">
    <div class="col">
        <div class="card mb-1">
            <div class="dashboard-frame">
                <div class="card-header report-card-header d-flex justify-content-between align-items-center">
                    <h5>Dashboard</h5>
                    <div class="d-flex align-items-center">
                        <div class="d-flex">
                           
                        </div>
                        <div class="form-group position-relative mb-0">
                            
                        </div>
                        <div class="form-group mb-0">
                           
                        </div>
                    </div>
                </div>
                <html lang="en">
                <head>
                    <meta charset="UTF-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Document</title>
                    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=sS5RUuVXZBhdNNHbaIeZdtzmK_YW5SFlX10-slElVnGPXcckvK5HRHXKS05gXoCQRBcWY9JijZ0MbFuk0oLvWAhv-8MxZ99DAFbMOuribX7J15dicNIT5UsRs8gxt4nvjm1wa1fq4zVuxTvu8dzRLVf8UjIpc7nCo4uZRQ_MN5NOJGtxIgjVedpybs-4QO30wz7Gp0gx5CivYiwmLbatW5qpXo4DLAqFJ6WR2UmWd6frsPXm869e6T9F2Fr38lmtk5wHf8NgbiqzsNVaEr0FVMUFdxG9j_gdJR9k6H8BDJ_Qr4tEUZd7NGvGr5AZ-MeL2iHk--3cXhOpseT4UbDwEkDWL0kfKlndor1fZdZExV-UfwfW3XGbmMV0Df82eKp77ap4XK79pgFgfJVJ_7SN8bd0zaQvpcxiZVi1me8K_xjrTXNBqb-I7FxofncWb6wa-G8VVNIdg22_wk0rF2hm0YtgZLDDk57ziEYAr_rw8x5LZe2DjVqkKPBCQpWrBPw04zVan_1-YKVUsh675XfX_zWTwH98mjblzaRqucbVa7-Pks2WY9u3A-uwh1H4HpzYODl7MbwYxhR-okq5HdeIaGQobwgAEYdPbNTGSAxliTUb2UGwma8wFn_4VDiVj5mYiQra661zt3EFTStIAAqgB9WXpeihPyur3TRxTJr7vegXnOTJ7_lIkpoB9HIR5XnbXYHbd5lminwKZpzbD5rwTEobLmiipH6iCQX_BjnJlS48zBtWn9fgJW1vRjwPAXg8-QU8M8Qt0onm2arNV7KPZoYVtAUY3C4b4Q7tFCRMvGZDXdg25F9t66XWqnw--00e5Gb_ObFvSlkUCOGuN3dqxciFRjIFtcpceJuS-ShrPAl3OKS9Os-_Na3ihHdat3U0HnE9Qr3VICoePg0wANIllD5vAdKtIUm0mQ6zuz8mVqESVr0X6cp9UaktekkXqq59ZhH4J6nIsod4Bg0Hu6l2jcyAcINo34n80kngoRSo0kW4KTrHBjSFKw8yOJRFtarz4eAlVIcdi2KQZ8WS8sjpKb-g56FbPWNAC0ySgNFGQUvZHjZBRVzIWKrXPjugbNQpzneYi8qq37SkmJhF6W2WRsGi0Cg8Zgh7EXanbbQY8Jxe3tT5u8I7aZUeDeDCCb7AkXqi7zc3rJJQOLRw8sR395YXVZwHjoA92EccAM7dNqhZMUtW8SoUWBCZcSeND6q6pytrpHy9Z_cuD0hdwRWhElUJ-sL_9eiC-R58GJ5e6bW3nFtkMHFYihSFySZc2zFbrluXizIM35euoiaS_fuCF9uZBgH9tVgx27Hk4B5Dpm_o-gjVzTHeRaX9cMwdVhZY-A3614EVmaI4qTZgAWzzxmMjGwyC2tuVRCFKd19SDpW7lGMhPWMcn7TFPr8l1Db1NZLgChxaPkpdCCzZZz0Jc4hypZPkP3B0iPhtrVGr9Szx-o-1ojMJqWbHWEPhajuf-2zMZZfiBd8_nsamfW5LPZ68GdA4_-cfIOk6jq6M-RKdxsJD5_pqtfkeavUhtCHLLE8jhlUzgOvgGTpeXSFcpQNBWQ2mCSki1MUa59BHEhcQoB4ib8cpbCNx3V54l2hJKKRe_5JiWsJgvJ2KSLeiR6JgfYYbixlqGM09CHgHfYIxAItDfEbRKQcNqFCEmOgKTrBEYPGQP7y5NUOap8XrifL_seAmLTUzXIvv5VCS-Ay2y2maO93E27OlW_V6NpXqpTR3A1CIarc06UXrvku8CC_hwm8C_druHncfbRZSUqeNjIefOKOF7_yLuzCZtCg4gEmrdUgNe0SzWlsWOwO8bO-AdwoWfdO3A4NCpSL-MIMUmtx-otnkdHPDwTyHWfjRa4a4MZyUCImQcqmL-rxfrEXu0qN7I9qFNggkMsPHMU-GizptZjEo3rE5EM6-3VqofNgjqGjkFf3sa8tlTDFA9IJNDrm8vI2d9UW3jng0CGfT_ixjzvKUpHoCywt6GKdCAoIuss_pfF4cHNEf4di_4e1y-qP-qM4RXBlCPrEmFWIEE2F3TnS1X1h4RulbzhNAAFAPlTN7X8d7gd7UR4gBjgIhWz3KXTK351Z874R61Im_uxdtilPzpI5g3IbXoj8Lh6mgwdq07ujr6fg621lYLgSlk26a4Fe9HBaCTy4aQ60jhgpjaIHR54ZtFWKtkyXcW_nGvUzg8XWHU3xhX_cNUgGzLLnvDj3clf7sE95xFSkPDGcOywkLwLrFQIQ5HnAInD5Ytaejk5tX4oV0_JSooEy_j0XAkEGgGwCvJ7Q-rZs1FTz7m2nJXcJ4FjVTl4HCX-i_-LMhYONBhhujf2X2zDyutSLBaXFT8PottJ538hINFqhBkEezKFtAdpyXxyRSTXjnQnDYS54eb6f63HlhEGWHDqKPMjRstgsW_kEaj_vIa1mJ0bK_3T2GSYGiGuRH7kZ0NGLhGBFAwJImuMtm7Q9q7wxQpj8IWloeOntOzWlAlQKESxIF6UGjSwZrNdVL" charset="UTF-8"></script>
                </head>
                <body>
                    @if (Model.DashboardId != null && Model.DashboardURLId != null && Model.DashboardId != 0 && Model.DashboardURLId != "")
                    {
                    <div id="dashboard-@Model.DashboardId" style="position:relative;overflow:hidden;height:1000px;">
                        <iframe src="https://app.reachreporting.com/embed/@Model.DashboardURLId?theme=light
    " style="position:absolute;top:0;left:0;width:100%;height:100%;border:none;" class="rr-embed" data-rr-id="@Model.DashboardId"></iframe>
                    </div>
                    }
                   

                </body>
            </html>
            </div>
            </div>
    </div>
    </div>
<script>
    function rrSendScroll() {
        var iframes = document.getElementsByClassName("rr-embed");
        var de = document.documentElement;
        for (var i = 0; i < iframes.length; i += 1) {
            var box = iframes[i].getBoundingClientRect();
            var top = box.top + window.pageYOffset - de.clientTop;
            var message = JSON.stringify({ channel: "rr", id: parseInt(iframes[i].getAttribute("data-rr-id"), 10), scrollY: window.scrollY, offsetTop: top });
            iframes[i].contentWindow.postMessage(message, "*")
        }
    } window.addEventListener("message", function (e) {
        try {
            var d = JSON.parse(e.data);
            var c = d.channel;
            if (c === "rr") {
                document.getElementById("dashboard-" + d.id).style.height = d.height + "px";
                rrSendScroll()
            }
        } catch { }
    });
    window.addEventListener("scroll", rrSendScroll);
    var AgencyDropdownPartialViewChange = function () {
        SetUserPreferencesForAgency();
       window.location.reload();
    }
</script>
