@{
    ViewBag.Title = "Chat";
}
<style type="text/css">
    .separator {
        display: flex;
        align-items: center;
        text-align: center;
    }

        .separator::before,
        .separator::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid #d8e2ef;
        }

        .separator:not(:empty)::before {
            margin-right: .25em;
        }

        .separator:not(:empty)::after {
            margin-left: .25em;
        }
</style>

<div class="card-body px-0 pt-0">
    @Html.Partial("_communication")
</div>

@section Scripts {
    <script src="~/assets/lib/superagent/dist/superagent.min.js"></script>
    <script src="~/assets/lib/twilio/conversations/dist/twilio-conversations.js"></script>
    @Scripts.Render("~/bundles/js/twilio-chat")
    @*@Scripts.Render("~/bundles/js/select")*@
    <script>
        $(document).ready(function () {
            $("#ddlclient").next(".select2-container").remove();
            $("#ddlclient").remove();
            chat.userId = "@ViewBag.UserId";
            chat.userEmail = "@ViewBag.UserEmail";
            loadPage();
        });
</script>
}