@{
    ViewBag.Title = "Notifications";
}

<div class="card overflow-hidden mb-3" id="divNotificationsCard">
    <div class="card-header bg-light">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-auto">
                <h5 class="mb-1 mb-md-0">Your Notifications</h5>
            </div>
            <div class="col-sm-auto fs--1">
                @*<a class="text-sans-serif" href="#!">Mark all as read</a>*@
                @*<a class="text-sans-serif ml-2 ml-sm-3" href="#notification-settings-modal" data-toggle="modal">Notification settings</a>*@
            </div>
        </div>
    </div>
    <div class="card-body fs--1 p-0">

    </div>
</div>
@section Scripts {

}
