
@{
    ViewBag.Title = "ReconciliationMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--<div class="card mb-4 ">
    <div class="card-header">
        <div class="row align-items-center justify-content-between">
            <div class="col-6 col-sm-auto d-flex align-items-center pr-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Reconciliation</h5>
            </div>
            <div class="col-6 col-sm-auto ml-auto text-right pl-0">
                <div class="d-none" id="purchases-actions">
                    <div class="input-group input-group-sm">
                        <select class="custom-select cus" aria-label="Bulk actions">
                            <option selected="">Bulk actions</option>
                            <option value="Delete">Delete</option>
                            <option value="Archive">Archive</option>
                        </select>
                        <button class="btn btn-falcon-default btn-sm ml-2" type="button">Submit</button>
                    </div>
                </div>
                <div id="dashboard-actions">-->
                    @*<button class="btn btn-falcon-default btn-sm" type="button">
                            <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                            <span class="d-none d-sm-inline-block ml-1"><a href=@Url.Action("CreateClient", "Client")>Create</a></span>
                        </button>*@
                    @*<button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1">Filter</span></button>*@
                    @*<button class="btn btn-falcon-default btn-sm ml-2" type="button">
                            <span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span>
                            <span class="d-none d-sm-inline-block ml-1" onclick="ExportToExcel()">Export</span>
                        </button>*@
                    <!--<button class="btn btn-falcon-default btn-sm ml-2" type="button">
                        <span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ml-1">
                            <a href=@Url.Action("AgencyHome", "AgencyService")>Back to dashboard</a>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>-->


    <!--<div class="card-body px-0 pt-0">
        <!--<div class="row no-gutters">-->
            <!--@*@Html.Partial("_AgencySelection")*@
            @*@{
                Html.RenderAction("AgencySelection", "AgencyService");
            }*@-->
            <!--<div class="col-lg-3 col-xl-12 pl-lg-2 pl-xl-0 mb-3" id="divClientDetials">

            </div>
        </div>-->
    <!--</div>
</div>-->
<div class="card mb-3">
    <div class="card-header">
        <div class="row align-items-center justify-content-between">
            <div class="col-6">
                <div class="row align-items-center">
                    <div class="d-flex align-items-center ml-3">
                        <span class="fas fa-book"></span>
                        <h6 class="mb-0 ml-2"><a href="">Not in Books</a></h6>
                        <span class="badge badge-pill badge-soft-danger ml-3">36</span>
                    </div>

                    <div class="d-flex align-items-center ml-5">
                        <span class="far fa-credit-card"></span>
                        <h6 class="mb-0 ml-2"><a href="">Not in Banks</a></h6>
                        <span class="badge badge-pill badge-soft-danger ml-3">36</span>
                    </div>
                </div>
            </div>

            
            
            <div class="col-6 col-sm-auto ml-auto text-right pl-0">
                <div class="d-none" id="purchases-actions">
                    <div class="input-group input-group-sm">
                        <select class="custom-select cus" aria-label="Bulk actions">
                            <option selected="">Bulk actions</option>
                            <option value="Refund">Refund</option>
                            <option value="Delete">Delete</option>
                            <option value="Archive">Archive</option>
                        </select>
                        <button class="btn btn-falcon-default btn-sm ml-2" type="button">Apply</button>
                    </div>
                </div>
                <div id="dashboard-actions">
                    <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1">New</span></button>
                    <button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1">Filter</span></button>
                    <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1">Export</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body px-0 pt-0">
        <div class="dashboard-data-table">
            <table class="table table-sm table-dashboard fs--1 data-table border-bottom" data-options='{"responsive":false,"pagingType":"simple","lengthChange":false,"searching":false,"pageLength":8,"columnDefs":[{"targets":[0,6],"orderable":false}],"language":{"info":"_START_ to _END_ Items of _TOTAL_ — <a href=\"#!\" class=\"font-weight-semi-bold\"> view all <span class=\"fas fa-angle-right\" data-fa-transform=\"down-1\"></span> </a>"},"buttons":["copy","excel"]}'>
                <thead class="bg-200 text-900">
                    <tr>
                        <th class="no-sort pr-1 align-middle data-table-row-bulk-select">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input checkbox-bulk-select" id="checkbox-bulk-purchases-select" type="checkbox" data-checkbox-body="#purchases" data-checkbox-actions="#purchases-actions" data-checkbox-replaced-element="#dashboard-actions" />
                                <label class="custom-control-label" for="checkbox-bulk-purchases-select"></label>
                            </div>
                        </th>
                        <th class="sort pr-1 align-middle">Account</th>
                        <th class="sort pr-1 align-middle">Date</th>
                        <th class="sort pr-1 align-middle">Who</th>
                        <th class="sort pr-1 align-middle">Description</th>
                        <th class="sort pr-1 align-middle">Amount</th>
                        <th class="sort pr-1 align-middle">GL Account</th>
                        <th class="sort pr-1 align-middle"><span class="fas fa-question-circle">?</span></th>
                        <th class="sort pr-1 align-middle">Rule</th>
                    </tr>
                </thead>
                <tbody id="purchases">
                    <tr class="btn-reveal-trigger">
                        <td class="align-middle">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="checkbox-0" />
                                <label class="custom-control-label" for="checkbox-0"></label>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle">PayPal</td>
                        <td class="sort pr-1 align-middle">6/25/2021</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US  CA 95014 US</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US Balance Adjustment</td>
                        <td class="sort pr-1 align-middle">$99</td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Pick Account</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle"><span class="fas fa-plus-circle"></span></td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Set Rule</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="btn-reveal-trigger">
                        <td class="align-middle">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="checkbox-0" />
                                <label class="custom-control-label" for="checkbox-0"></label>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle">PayPal</td>
                        <td class="sort pr-1 align-middle">6/25/2021</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US  CA 95014 US</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US Balance Adjustment</td>
                        <td class="sort pr-1 align-middle">$99</td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Pick Account</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle"><span class="fas fa-plus-circle"></span></td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Set Rule</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="btn-reveal-trigger">
                        <td class="align-middle">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="checkbox-0" />
                                <label class="custom-control-label" for="checkbox-0"></label>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle">PayPal</td>
                        <td class="sort pr-1 align-middle">6/25/2021</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US  CA 95014 US</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US Balance Adjustment</td>
                        <td class="sort pr-1 align-middle">$99</td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Pick Account</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle"><span class="fas fa-plus-circle"></span></td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Set Rule</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="btn-reveal-trigger">
                        <td class="align-middle">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="checkbox-0" />
                                <label class="custom-control-label" for="checkbox-0"></label>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle">PayPal</td>
                        <td class="sort pr-1 align-middle">6/25/2021</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US  CA 95014 US</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US Balance Adjustment</td>
                        <td class="sort pr-1 align-middle">$99</td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Pick Account</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle"><span class="fas fa-plus-circle"></span></td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Set Rule</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="btn-reveal-trigger">
                        <td class="align-middle">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="checkbox-0" />
                                <label class="custom-control-label" for="checkbox-0"></label>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle">PayPal</td>
                        <td class="sort pr-1 align-middle">6/25/2021</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US  CA 95014 US</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US Balance Adjustment</td>
                        <td class="sort pr-1 align-middle">$99</td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Pick Account</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle"><span class="fas fa-plus-circle"></span></td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Set Rule</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="btn-reveal-trigger">
                        <td class="align-middle">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="checkbox-0" />
                                <label class="custom-control-label" for="checkbox-0"></label>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle">PayPal</td>
                        <td class="sort pr-1 align-middle">6/25/2021</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US  CA 95014 US</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US Balance Adjustment</td>
                        <td class="sort pr-1 align-middle">$99</td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Pick Account</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle"><span class="fas fa-plus-circle"></span></td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Set Rule</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="btn-reveal-trigger">
                        <td class="align-middle">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="checkbox-0" />
                                <label class="custom-control-label" for="checkbox-0"></label>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle">PayPal</td>
                        <td class="sort pr-1 align-middle">6/25/2021</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US  CA 95014 US</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US Balance Adjustment</td>
                        <td class="sort pr-1 align-middle">$99</td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Pick Account</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle"><span class="fas fa-plus-circle"></span></td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Set Rule</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="btn-reveal-trigger">
                        <td class="align-middle">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="checkbox-0" />
                                <label class="custom-control-label" for="checkbox-0"></label>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle">PayPal</td>
                        <td class="sort pr-1 align-middle">6/25/2021</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US  CA 95014 US</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US Balance Adjustment</td>
                        <td class="sort pr-1 align-middle">$99</td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Pick Account</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle"><span class="fas fa-plus-circle"></span></td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Set Rule</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="btn-reveal-trigger">
                        <td class="align-middle">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="checkbox-0" />
                                <label class="custom-control-label" for="checkbox-0"></label>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle">PayPal</td>
                        <td class="sort pr-1 align-middle">6/25/2021</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US  CA 95014 US</td>
                        <td class="sort pr-1 align-middle">APPLE.COM/US Balance Adjustment</td>
                        <td class="sort pr-1 align-middle">$99</td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Pick Account</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td class="sort pr-1 align-middle"><span class="fas fa-plus-circle"></span></td>
                        <td class="sort pr-1 align-middle">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <select class="custom-select custom-select-sm">
                                        <option>Set Rule</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            AgencyDropdownPartialViewChange();

        });

        function AgencyDropdownPartialViewChange() {
            var ClientID = $("#ddlclient option:selected").val();

            $.ajax({
                url: '/AgencyService/GetClientDetails?id=' + ClientID,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        // Write here what should happend once client selected
                        SetUserPreferencesForAgency();
                    }
                    else {
                        // Write here what should happend once selected client is null
                    }
                },
                error: function () {
                    // Write here what should happend when action result is errored.
                }
            });
        }

    </script>

}

